<!doctype html>
<html lang="en">
	<head>
    		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<main>
				<h1>Image: {{ .Name }}</h1>
	<h2>Tags</h2>	
	<ul class="list-unstyled">
	{{range $val := .Tags}}
		<li>{{.Name}}
		</li>
	{{end}}
	</ul>
	<h2>Blobs</h2>
	<ul class="list-unstyled">
	{{range $val := .Blobs }}
		<li><tt>{{.Digest}}</tt>
			{{ range $val := .Tags }}
			<span class="badge bg-secondary">{{.}}</span>
			{{ end }}
		</li>
	{{end}}
	</ul>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
			</main>
		</div>
	</body>
</html>
