<!doctype html>
<html lang="en">
	<head>
    		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<main>
				<h1>Library: {{.Name}}</h1>
	<h2>Libraries</h2>	
	<ul class="list-unstyled">
	{{range $val := .Libraries}}
		<li><a href="{{.Name}}/">{{.Name}}</a>
		</li>
	{{end}}
	</ul>
	<h2>Images</h2>	
	<ul class="list-unstyled">
	{{range $val := .Images}}
		<li><a href="{{.Name}}/">{{.Name}}</a>
		</li>
	{{end}}
	</ul>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
			</main>
		</div>
	</body>
</html>
